@use "../../styles/variables" as *;

.btn {
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;

  &--primary {
    background-color: $primary;
    color: white;
  }

  &--secondary {
    background-color: $secondary;
    color: white;
  }

  &:hover {
    transform: scale(1.03);
  }
}
