@use "../styles/variables" as *;

.tasks-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tasks-grid {
  display: grid;
  gap: 24px;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.tasks-page {
  background: $background;
  padding: 40px;
  min-height: 100vh;
}
